<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>new</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nouvelle note</ion-title>
      <ion-buttons slot="primary">
        <ion-button fill="solid" color="warning">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-buttons>


    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding-horizontal">
    <ion-input class="large-bold-input" placeholder="Titre..." maxlength="30"></ion-input>
    <ion-textarea placeholder="Note..."></ion-textarea>
  </ion-content>

</ion-content>

<style>
  .content-margin {
    margin-left: 10px;
    margin-right: 10px;
  }

  .large-bold-input {
    font-size: 24px;
    font-weight: bold;
  }
</style>
