<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <h1>Notes</h1>
    <ion-row>
      <ion-col>
        <p>
          Application de notes à l'instar de Google Keep ou de l'application Notes d'Apple. L'application permet de créer des notes, de les modifier et de les supprimer. Les notes sont stockées sur firebase et les images, elles, sont sur firebase storage.
        </p>
        <p>
          Elle permet également de prendre des photos et de les stocker localement sur l'appareil de l'utilisateur.
        </p>
        <p>
          L'application est développée avec le framework Ionic, qui permet de créer des applications mobiles multiplateformes avec des technologies web (HTML, CSS, JavaScript).
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
